@mixin clearfix() {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin color-circle ($gradient, $size) {
  border-radius: 50%;
  width: $size;
  height: $size;
  background: $gradient;
}
