.main-container {
  flex-grow: 1;
  margin: 0 0 30px;
  padding: 110px 0 0;

  #main {
    padding: 0;
    flex-grow: 0;
    margin: 0;
  }

  @media screen and (max-width: 767px) {
    padding: 140px 0 0;
  }
}

#main {
  flex-grow: 1;
  margin: 0 0 30px;
  padding: 110px 0 0;

  @media screen and (max-width: 767px) {
    padding: 140px 0 0;
  }
}

.page-about-us {
  position: relative;
  padding: 60px 0;
}
.page-about-us .content {
  position: relative;
  z-index: 2;
}
.page-about-us .circle {
  position: absolute;
  z-index: -1;
}
.page-about-us .main-visual {
  padding: 30px 0;
  margin: 0 0 35px;
}
.page-about-us .section-blue {
  padding: 80px 0 60px;
  margin: 0 auto;
  background: lightblue;
}
.page-about-us .section-blue .container-sm {
  position: relative;
  max-width: 780px;
  margin: 0 auto;
}
.container-sm {
  position: relative;
  max-width: 780px;
  margin: 0 auto;
}
.page-about-us .section-blue .visual {
  float: left;
  width: 240px;
  height: auto;
  margin: 0 80px 20px 0;
}
.page-about-us .section-blue .content {
  margin: 0 0 -24px;
}
.page-about-us .section-blue .circle-2 {
  z-index: 1;
  top: -200px;
  right: -155px;
}
.page-about-us h1 {
  font-size: 30px;
  font-weight: normal;
}
@media screen and (max-width: 767px) {
  .page-about-us .section-blue .visual {
    float: unset;
  }
  .page-about-us .section-blue .visual {
    margin: 0 auto;
    display: block !important;
  }
}
@media screen and (max-width: 1023px) {
  .page-about-us {
    padding: 0 0 20px;
  }
  .page-about-us h1 {
    font-size: 33px;
    padding: 30px 0 0;
  }
  .page-about-us h2 {
    font-size: 25px;
    line-height: 36px;
  }
  .page-about-us .circle.circle-1 {
    display: none;
  }
  .page-about-us .circle.circle-3 {
    z-index: 1;
    left: auto;
    bottom: 35%;
    right: -60px;
  }
  .page-about-us .main-visual {
    padding: 0;
    margin: 0 0 65px;
  }
  .page-about-us .section-blue {
    padding: 65px 0;
    margin: 0 0 50px;
  }
  .page-about-us .section-blue .circle-2,
  .page-about-us .section-blue .visual {
    display: none;
  }
}
